### Working With Json

In [6]:
# importing pandas for data manipulation and Analysis
import pandas as pd

In [7]:
# made a dataframe and read json file from the path of json file named 'test.json'
df = pd.read_json("C:\\Users\\A plus\\Desktop\\1.B.tech\\5th Semester\\Data Science\\DS AI ML\\test.json\\test.json")
df

         id                                        ingredients
0     18009  [baking powder, eggs, all-purpose flour, raisi...
1     28583  [sugar, egg yolks, corn starch, cream of tarta...
2     41580  [sausage links, fennel bulb, fronds, olive oil...
3     29752  [meat cuts, file powder, smoked sausage, okra,...
4     35687  [ground black pepper, salt, sausage casings, l...
...     ...                                                ...
9939  30246  [large egg yolks, fresh lemon juice, sugar, bo...
9940  36028  [hot sauce, butter, sweet potatoes, adobo sauc...
9941  22339  [black pepper, salt, parmigiano reggiano chees...
9942  42525  [cheddar cheese, cayenne, paprika, plum tomato...
9943   1443  [cold water, olive oil, lime wedges, garlic cl...

[9944 rows x 2 columns]

In [8]:
'''gathered information about file
and it contains 99449 entries or rows with two columns
id and ingrediend , datatype is int and obj resp.
there are no null from the entries it means that there is no missing or null presemt in the data
'''
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9944 entries, 0 to 9943
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           9944 non-null   int64
 1   ingredients  9944 non-null   object
dtypes: int64(1), object(1)
memory usage: 155.5+ KB

In [9]:
# this print the top 5 entries of the data 
df.head()

      id                                        ingredients
0  18009  [baking powder, eggs, all-purpose flour, raisi...
1  28583  [sugar, egg yolks, corn starch, cream of tarta...
2  41580  [sausage links, fennel bulb, fronds, olive oil...
3  29752  [meat cuts, file powder, smoked sausage, okra,...
4  35687  [ground black pepper, salt, sausage casings, l...

In [5]:
# this prints the last 5 entries of the data
df.tail()

         id                                        ingredients
9939  30246  [large egg yolks, fresh lemon juice, sugar, bo...
9940  36028  [hot sauce, butter, sweet potatoes, adobo sauc...
9941  22339  [black pepper, salt, parmigiano reggiano chees...
9942  42525  [cheddar cheese, cayenne, paprika, plum tomato...
9943   1443  [cold water, olive oil, lime wedges, garlic cl...

In [11]:
pd.read_sql("C:\\Users\\A plus\\Downloads\\world.sql")

TypeError: read_sql() missing 1 required positional argument: 'con'

In [12]:
# installing mysql.coonector to communicate the pytohn with mysql
!pip install mysql.connector

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     -- ------------------------------------- 0.8/11.9 MB 1.9 MB/s eta 0:00:06
     ---- ----------------------------------- 1.3/11.9 MB 1.9 MB/s eta 0:00:06
     ------ --------------------------------- 1.8/11.9 MB 2.2 MB/s eta 0:00:05
     ------- -------------------------------- 2.1/11.9 MB 2.4 MB/s eta 0:00:05
     --------- ------------------------------ 2.9/11.9 MB 2.2 MB/s eta 0:00:05
     ----------- ---------------------------- 3.4/11.9 MB 2.4 MB/s eta 0:00:04
     ------------- -------------------------- 3.9/11.9 MB 2.4 MB/s eta 0:00:04
     -------------- ------------------------- 4.2/11.9 MB 2.3 MB/s eta 0:00:04
     --------------- ------------------------ 4.7/11.9 MB 2.3 MB/s eta 0:00:04
     ------------------ --------------------- 5.5/11.9 MB 2.4 MB/s eta 0:00:03
     ------------------- -------------------- 5.8/11.9 MB 2.4 MB/s eta 0:00:03
     --------------------- ------------------ 6.3/11.9 MB 2.3 MB/s eta 0:00:03
     ----------------------- ---------------- 6.8/11.9 MB 2.3 MB/s eta 0:00:03
     ------------------------ --------------- 7.3/11.9 MB 2.4 MB/s eta 0:00:02
     -------------------------- ------------- 7.9/11.9 MB 2.3 MB/s eta 0:00:02
     ----------------------------- ---------- 8.7/11.9 MB 2.4 MB/s eta 0:00:02
     ------------------------------ --------- 9.2/11.9 MB 2.4 MB/s eta 0:00:02
     ------------------------------ --------- 9.2/11.9 MB 2.4 MB/s eta 0:00:02
     --------------------------------- ------ 10.0/11.9 MB 2.3 MB/s eta 0:00:01
     ------------------------------------ --- 10.7/11.9 MB 2.4 MB/s eta 0:00:01
     ------------------------------------- -- 11.0/11.9 MB 2.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 2.4 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 2.4 MB/s  0:00:05
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp313-cp313-win_amd64.whl size=248038 sha256=f196bd3d43d819e8ce30b60f77fa5370cf1a1175105147148f010c740bc8de24
  Stored in directory: c:\users\a plus\appdata\local\pip\cache\wheels\4e\c1\23\9423c444a75266a05275c80ebf5c6efe2368388e976b690a0f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

  DEPRECATION: Building 'mysql.connector' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'mysql.connector'. Discussion can be found at https://github.com/pypa/pip/issues/6334

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
# import mysql.connector
import mysql.connector

In [20]:
# Making connection to the database
mydbconn = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password='',
    database= 'world',
    port =3306
)

In [21]:
# to read sql file we have to give query and our connection object of the database
query = 'SELECT * FROM city'
pd.read_sql_query(query,mydbconn)

C:\Users\A plus\AppData\Local\Temp\ipykernel_2676\2218828769.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,mydbconn)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [22]:
quer = 'SELECT * FROM country'
pd.read_sql_query(quer, mydbconn)

C:\Users\A plus\AppData\Local\Temp\ipykernel_2676\804584060.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(quer, mydbconn)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [23]:
que = 'SELECT * FROM countrylanguage'
pd.read_sql_query(que, mydbconn)

C:\Users\A plus\AppData\Local\Temp\ipykernel_2676\603369371.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(que, mydbconn)

    CountryCode    Language IsOfficial  Percentage
0           ABW       Dutch          T         5.3
1           ABW     English          F         9.5
2           ABW  Papiamento          F        76.7
3           ABW     Spanish          F         7.4
4           AFG     Balochi          F         0.9
..          ...         ...        ...         ...
979         ZMB      Tongan          F        11.0
980         ZWE     English          T         2.2
981         ZWE     Ndebele          F        16.2
982         ZWE      Nyanja          F         2.2
983         ZWE       Shona          F        72.1

[984 rows x 4 columns]